.bash_history
.zsh_history
.zcompdump
.python_history
.ssh/
.lesshst
.emacs.d/elpa
.emacs.d/auto-save-list
.emacs.d/projectile-bookmarks.eld
.emacs.d/semanticdb/*
.erlang
.elixir
.mix
.hex
.elm
.ghc/
.stack/
.hoogle
.rustup/
.cargo/
.npm/
.node_repl_history
.cache/
Screenshots/
Downloads/
Dropbox/
.dropbox/
.dropbox-dist/
.wget-hsts
.gtk-bookmarks
.gnupg
.gitconfig
.pki/
.fonts/
.Xauthority
.compose-cache/
.esd_auth
.dbus/
.zsh-syntax-highlighting/
.viminfo
.vim/
