.bash_history
.bash_sessions/
.zsh_history
.zcompdump
.python_history
.irb-history
.ipython/
.psql_history
.mysql_history
.pry_history
.DS_Store
.CFUserTextEncoding
.ssh/
.lesshst
.emacs.d/elpa
.emacs.d/auto-save-list
.emacs.d/projectile-bookmarks.eld
.emacs.d/semanticdb/*
.erlang
.elixir
.mix
.hex
.elm
.ghc/*
!.ghc/ghci.conf
.stack/
.hoogle
.rustup/
.cargo/
.npm/
.node_repl_history
.cache/
Screenshots/
Downloads/
Library/
Movies/
Music/
Pictures/
Applications/
Desktop/
Documents/
Dropbox/
.dropbox/
.dropbox-dist/
.wget-hsts
.gtk-bookmarks
.gnupg
.gitconfig
.pki/
.fonts/
.Xauthority
.compose-cache/
.esd_auth
.dbus/
.zsh-syntax-highlighting/
.viminfo
.vim/
.gtkrc-2.0
.config/*
!.config/nvim/
.local/
result
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.state
.xmonad/xmonad.errors
.xmonad/xmonad-x86_64-linux
work/
personal/
.aws/
.virtualenvs/
.terraform.d/
.subversion/
.serverless/
.serverlessrc
.provisioning
.rvm/
.node-gyp/
node_modules/
.yarnrc
.babel.json
.netrc
.kube/
.oracle_jre_usage/
.v8flags*
.multirust
.idris/
.docker/
.cups/
.gem/
.bundle/
.mkshrc
.erlang.cookie
.cabal/
.config/nvim/repos/
.config/nvim/.netrwhist

